---
layout: default
---

<aside class="content-section-a no-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h4><i class="fa fa-pencil"></i> <a href="/articles">Articles</a></h4>
        <h2 class="section-heading">{{ page.title }}</h2>
        <p class="lead">{{ page.description }}</p>
        <p class="text-muted">{{ page.date | date: "%B %d, %Y" }}</p>
      </div>
    </div>
  </div>
</aside>

<section class="content-section-b">
  <div class="container markdown-body">
    <div class="row justify-content-center">
      <div class="col-lg-8 article-body">
        {{ content }}
      </div>
    </div>
  </div>
</section>

<script>
  document.querySelectorAll('.article-body img').forEach(function(img) {
    if (!img.alt) return;
    var a = img.parentNode;
    var figure = document.createElement('figure');
    var caption = document.createElement('figcaption');
    caption.textContent = img.alt;
    a.parentNode.insertBefore(figure, a);
    figure.appendChild(a);
    figure.appendChild(caption);
  });
</script>

<section class="content-section-a">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <script src="https://utteranc.es/client.js"
            repo="chrisys/chrisys.github.io"
            issue-term="title"
            label="Comment"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>
      </div>
    </div>
  </div>
</section>
