<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107958348-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-107958348-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <title>{{ page.title }} - {% unless page.layout == "default" %}
      {{ page.layout | capitalize }} - 
    {% endunless %}Chris Crocker-White</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/ef9eac7f76.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,600" rel="stylesheet">

    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/github-markdown.css" rel="stylesheet">

  </head>

  <body>

{% include navigation.html %}
{{ content }}

<aside class="banner" style="background-image:url(/assets/images/footer_clouds.jpg);">

    <div class="container">

      <div class="row">
        <div class="col-lg-6 my-auto">
          <h2>Connect with me</h2>
        </div>
        <div class="col-lg-6 my-auto">
          <ul class="list-inline banner-social-buttons">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/chrixbuilds/" class="btn btn-primary btn-lg">
                <i class="fa fa-instagram fa-fw"></i>
                <span class="network-name">Instagram</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.youtube.com/chrix2" class="btn btn-primary btn-lg">
                <i class="fa fa-youtube fa-fw"></i>
                <span class="network-name">YouTube</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/chris-crocker-white" class="btn btn-primary btn-lg">
                <i class="fa fa-linkedin fa-fw"></i>
                <span class="network-name">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </aside>
  <!-- /.banner -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <p class="copyright text-muted small">Copyright &copy; Chris Crocker-White {{ "now" | date: "%Y" }}. All Rights Reserved</p>
      <p class="text-muted small">Built with <a href="https://getbootstrap.com/">Bootstrap</a> &amp; <a href="https://jekyllrb.com/">Jekyll</a></p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>
