---
layout: default
---
{% assign media = "/assets/images/" | append:  page.collection | append: "/" | append:  page.slug %}

<header class="intro-header" style="background-image:url({{ media }}/banner.jpg);">
    <div class="container">
      <div class="inner-message">

      </div>
    </div>
  </header>
  
  <aside class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h4><i class="fa fa-cog"></i> <a href="{{ site.data.navigation[0].link }}">Projects</a></h4>
            <h2 class="section-heading">{{ page.name }}</h2>
            <p class="lead">{{ page.card_text }}</p>
        </div>
      </div>
    </div>
  </aside>
  
  <section class="content-section-b">
    <div class="container markdown-body">
        {{ content }}
    </div>
  </section>

  <section class="content-section-a">
    <script src="https://utteranc.es/client.js"
        repo="chrisys/chrisys.github.io"
        issue-term="title"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
  </section>